body {
  background-color: black;
}

img {
  max-width: 200%;
  height: auto;
  border-radius: 8px;
}

h1 {
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
  color: #0ea874;
  letter-spacing: 2px;
  font-size: 60px;
}

p {
  color: white;
  font-family: times;
  font-size: 20px;
}


